html{
  background-color: lightSkyBlue;
  font-family: 'Comic Sans MS', cursive;
  font-size: 18px;
  color: black;
  text-align: center;
}

h1,h2 {
  text-align: center;
}

footer {
  text-align: center;
}
