@import url(https://fonts.googleapis.com/css?family=Montserrat'0) 
h1,
h2{
  background: rgb: (255,255,255) ;url: (/images/textures/light2a.png) ;
  font-family: 'Montserrat', sans-serif;
  text-align :center;
}
